<ul class="nav nav-sidebar">
    <li class="active"><a href="{{ url('home') }}">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="{{ url('front_contract_index') }}">Index</a></li>
    <li><a href="{{ url('front_contract_new') }}">Add</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Backend</li>
    <li><a href="{{ url('back_contract_index') }}">Index</a></li>
    <li><a href="{{ url('back_contract_new') }}">Add</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="{{ url('front_document_index') }}">Index</a></li>
    <li><a href="{{ url('front_document_new') }}">Add</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Backend</li>
    <li><a href="{{ url('"back_document_index') }}">Index</a></li>
    <li><a href="{{ url('back_document_new') }}">Add</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="{{ url('front_letter_index') }}">Index</a></li>
    <li><a href="{{ url('front_letter_new') }}">Add</a></li>
    <li role="separator" class="divider"></li>
    <li class="dropdown-header">Backend</li>
    <li><a href="{{ url('back_letter_index') }}">Index</a></li>
    <li><a href="{{ url('back_letter_new') }}">Add</a></li>
</ul>